.blog {
    height: 200px;
    background-color: #cccccc;
    padding-top: 50px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.topleft p {
    margin: 0;
    padding: 0;
}

.side-content {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-content {
    margin-top: 40px;
    padding-right: 40px;
}

.content {
    width: 100%;
    border-bottom: solid black 1px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    display: inline-flex;
    position: relative;
}

img {
    height: 270px;
    max-width: 200;
    object-fit: fill;
    margin-right: 15px;
}

.topleft {
    height: 80px;
    width: 80px;
    position: absolute;
    padding-top: 10px;
    top: 18px;
    left: 1px;
    text-align: center;
    background-color: burlywood;
    font-family: 'playfair-display-black-regular', sans-serif;
    color: white;
}

.main {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.inputfield {
    box-sizing: border-box;
}

.inputfield input {
    font-size: 17px;
    width: 70%;
}

.inputfield button {
    width: 20%;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 32px;
    background-color: burlywood;
}

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
    margin-bottom: 25px;
}

.active {
    background-color: #cccccc;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 2px;
}