<body>
    <?php
    $block->setWelcomeText("Hello");
    ?>

    <p>Set: <?php echo $block->setWelcomeText("Hello") ?></p>
    <p>Get: <?= $block->getWelcomeText() ?></p>


    <div id="custom-component" data-bind="scope:'customcomponent'">
        <p>KO JS</p>
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <script type="text/x-magento-init">
            {
        "#custom-component": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "customcomponent": {
                        "component": "Htcdemo_Info/js/custom-component"
                    }
                }
            }
        }
    }
    </script>
    </div>
</body>