<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        /* table,
    th,
    td {
        border: 1px solid black;
    } */
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div><button><a href="<?php echo $block->getBaseUrl() . 'info/page/result'; ?>">Danh Sach</a></button></div>
    <br>
    <form action="save" method="post">
        <table>
            <tr>
                <th>Email</th>
                <th>Dia Chi</th>
                <th>So dien thoai</th>
                <th>Ngay Sinh</th>
            </tr>
            <tr>
                <td><input type="email" name="email" required="true"></td>
                <td><input type="text" name="address" required="true"></td>
                <td><input type="tel" name="phone" maxlength="10" required="true"></td>
                <td><input type="date" name="birth" placeholder="dd-mm-yyyy" required="true"></td>
            </tr>
        </table>
        <br>
        <button type="">Submit</button>
    </form>
</body>

</html>