<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="dropdown">
            <button class="nut_dropdown"> <span style='font-size:30px;'>&#937;</span></button>
            <ul class="nav">
                <li>Home</li>
                <li>Discover</li>
                <li>Crew</li>
                <li>Projects</li>
                <li>Gallery</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        </div>

        <div class="blog">
            <h2>Blog List</h2>
            <p style="margin-top: 5px;">Home/Blog List</p>

        </div>
        <div class="main-block">
            <div class="content-main">
                <div class="content-box">
                    <img src="<?php echo $this->getViewFileUrl('images/pic.jpg'); ?>">
                    <div class=" topleft">
                        <p style="font-size: 30px;">29</p>
                        <p style="font-size: 15px;">June</p>
                    </div>
                    <div>
                        <p style="font-size: small;">Case Study</p>
                        <p style="font-weight: bold;">Zelensky's heroism is coming up against Western red lines</p>
                        <p style="font-size: small;">Ukrainian President Volodymyr Zelensky is like the West's moral
                            conscience, with his daily video commentary highlighting his country's heroism in resisting
                            a Russian invasion that has degenerated into murderous barrages against
                            civilians.
                        </p>
                        <p style="font-size: smaller;">Continue &#x21C0;</p>
                    </div>
                </div>
                <div class="content-box">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Volodymyr_Zelensky_Official_portrait.jpg/330px-Volodymyr_Zelensky_Official_portrait.jpg">
                    <div class="topleft">
                        <p style="font-size: 30px;">29</p>
                        <p style="font-size: 15px;">June</p>
                    </div>
                    <div>
                        <p style="font-size: small;">Case Study</p>
                        <p style="font-weight: bold;">Zelensky's heroism is coming up against Western red lines</p>
                        <p style="font-size: small;">Ukrainian President Volodymyr Zelensky is like the West's moral
                            conscience, with his daily video commentary highlighting his country's heroism in resisting
                            a Russian invasion that has degenerated into murderous barrages against
                            civilians.
                        </p>
                        <p style="font-size: smaller;">Continue &RightVector;</p>
                    </div>
                </div>
                <div class="content-box">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Volodymyr_Zelensky_Official_portrait.jpg/330px-Volodymyr_Zelensky_Official_portrait.jpg">
                    <div class="topleft">
                        <p style="font-size: 30px;">29</p>
                        <p style="font-size: 15px;">June</p>
                    </div>
                    <div>
                        <p style="font-size: small;">Case Study</p>
                        <p style="font-weight: bold;">Zelensky's heroism is coming up against Western red lines</p>
                        <p style="font-size: small;">Ukrainian President Volodymyr Zelensky is like the West's moral
                            conscience, with his daily video commentary highlighting his country's heroism in resisting
                            a Russian invasion that has degenerated into murderous barrages against
                            civilians.
                        </p>
                        <p style="font-size: smaller;">Continue &#8640;</p>
                    </div>
                </div>


            </div>
            <div class="content-side">
                <form class="inputfield"><input placeholder="Search"><button>&#8981;</button>

                </form>
                <div class="recent" style="margin-top: 25px;">
                    <p style="font-size: medium;">Recent Post</p>
                    <p>Recent</p>
                    <p>Recent</p>
                    <p>Recent</p>
                </div>
                <div class="category" style="margin-top: 25px;">
                    <p style="font-size: medium;">Categories</p>
                    <table style="width:100%">
                        <tr>
                            <td>All Posts</td>
                            <td style="text-align: right;">291</td>
                        </tr>
                        <tr>
                            <td>Trending</td>
                            <td style="text-align: right;">92</td>
                        </tr>
                        <tr>
                            <td>Editorial</td>
                            <td style="text-align: right;">71</td>
                        </tr>
                        <tr>
                            <td>Fashionista</td>
                            <td style="text-align: right;">83</td>
                        </tr>
                        <tr>
                            <td>Design</td>
                            <td style="text-align: right;">45</td>
                        </tr>
                    </table>

                </div>
                <div class="popular" style="margin-top: 25px;">
                    <p style="font-size: medium;">Popular Tags</p>
                    <p>fashion, t-shirts, sneakers</p>
                </div>
            </div>
            <div class="pagination">
                <div class="pagination-main">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>