<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Dia Chi</th>
            <th>So dien thoai</th>
            <th>Ngay Sinh</th>
            <th>Hanh Dong</th>
        </tr>
        <tr>
            <?php $collection = $block->getPostCollection();
            foreach ($collection as $col) {
            ?>
        <tr>
            <td><?= $col->getID() ?></td>
            <td><?= $col->getEmail() ?></td>
            <td><?= $col->getAddress() ?></td>
            <td><?= $col->getPhone() ?></td>
            <td><?= $col->getBirth() ?></td>
            <td>
                <a href="<?= $block->getEditAction() ?>id/<?= $col->getId() ?>">Sua</a>
                <a href="<?= $block->getDeleteAction() ?>id/<?= $col->getId() ?>">Xoa</a>
            </td>
        </tr>
    <?php } ?>
    </tr>
    </table>
    <a href="<?php echo $block->getBaseUrl() . 'info/page/index'; ?>">Back</a>
</body>
<script type=”text/javascript>
    $(document).ready(function() {
        var interval = setInterval(function() {
            var $now = moment().locale('vi').format('dd, DD/MM/YYYY, h:mm:ss A');
            $('#datetime-part').html($now);
        }, 100);
    });
</script>

</html>