<?php
$data = $block->getById();
$address = '';
$email = '';
$phone = '';
$birth = '';
if ($data->getId()) {
    $address = $data->getAddress();
    $email = $data->getEmail();
    $phone = $data->getPhone();
    $birth = $data->getBirth();
}
?>
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="<?php echo $block->getBaseUrl() . 'info/page/save'; ?>" method="post">
        <table>
            <tr>
                <th>Email</th>
                <th>Dia Chi</th>
                <th>So dien thoai</th>
                <th>Ngay Sinh</th>
            </tr>
            <input type="hidden" name="id" value="<?= $data->getId() ?>">
            <td><input type="email" name="email" value="<?= $email ?>" required="true"></td>
            <td><input type="text" name="address" value="<?= $address ?>" required="true"></td>
            <td><input type="text" name="phone" maxlength="11" value="<?= $phone ?>" required="true"
                    validate-number="true"></td>
            <td><input type="date" placeholder="dd-mm-yyyy" name="birth" value="<?= $birth ?>" required="true"></td>
            </tr>
        </table>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="<?php echo $block->getBaseUrl() . 'info/page/result'; ?>">Back</a>
</body>

</html>