<page layout="1column" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">

    <body>
        <h2><?= $block->getCurrentCategory()->getBottomDescription() ?></h2>
        <br>
        <img src="<?= $block->getCurrentCategory()->getBottomImage() ?>">
    </body>
</page>