.dropdown {
    margin-bottom: 10px;
    .nav {
    display: inline-flex;
    margin-top: 30px;
    margin-left: 75px;
        li {
        list-style-type: none;
        display: inline;
        margin-left: 20px;
        }
    }
}     

.nut_dropdown {
    display: none;
    background-color: red;    
}  

@media only screen and (max-width: 768px)
{
    .container .main-block {
        grid-template-columns:unset;
        display: grid;
        background-color: lightpink;
    }
    .nut_dropdown {
        display: block;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        background-color: lightpink;
        margin-top: 10px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        .nav {
            padding: 5%;
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 40px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            margin-top: 1px;
            margin-left: 1px;
                li {
                    color: black;
                    padding: 16px;
                    text-decoration: none;
                    display: block;
                    list-style-type: none;
                    display: block;
                    margin-top: 10%;
                    margin-left: 0px;
    
                    &:hover {
                            background-color: #ddd;
                            }
                }
        }
        &:hover {
                .nav {
                    display: block;
                    }
                 
                .nut_dropdown {
                    background-color: white;
                }  
            }
    }    
}
@media only screen and (max-width: 640px)
{
    .container .main-block {
        grid-template-columns:unset;
        display: grid;
        background-color: lightgreen;
    }
    .dropdown {
        .nut_dropdown {
            background-color: lightgreen;
        }
}
}
@media only screen and (max-width: 480px)
{
    .content {
      &-box {
        display: block;

        img {
            width: 100%;
            height: auto;
        }
      }
    }  
      .container .main-block {
        background-color: rgb(253, 249, 0);
        }
    .dropdown {
        .nut_dropdown {
            background-color: rgb(253, 249, 0);
        }
}
}
