.page-header .header.panel {
    background-color: black;
    color: green;
    size: 15px;
}

.width_margin(@width: 100%, @margin_top: 20px, @margin_bottom: 20px){
  width: @width;
  margin-top: @margin_top;
  margin-bottom: @margin_bottom;
}

.columns .column.main {
  .width_margin();
  padding-bottom: 10px;
}
.container{

}

.blog {
  height: 200px;
  padding-top: 50px;
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  background-image: url("../images/oceanstar.jpg");
  background-color: #cccccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-weight: bold; 
    font-size: 60px; 
    margin-block: 1px;
  }
}
.main-block {
  box-sizing: border-box;
  grid-template-columns: 70% 30%;
  display: grid;
  margin-top: 50px;
  .width_margin();
  background-color: aquamarine;
}

.content {
  &-main {
    .width_margin();
    box-sizing: border-box;
    padding: 5px;
  }
  &-side {
    .width_margin();
    font-size: small;
    padding: 5px;
    }
  &-box {
    .width_margin();
    border-bottom: solid black 1px;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
  }
}

img {
  height: 270px;
  max-width: 200;
  object-fit: fill;
  margin-right: 15px;
}

.topleft {
  height: 80px;
  width: 80px;
  position: absolute;
  padding-top: 10px;
  top: 18px;
  left: 1px;
  text-align: center;
  background-color: burlywood;
  color: white;
  font-family: 'playfair-display-black-regular', sans-serif;
    p {
      margin: 0;
      padding: 0;
    }
}


.inputfield {
  display: flex;
  input {
    font-size: 15px;
    width: 60%;
    padding: 10px;

  }
  button {
    width: 25%;
    color:white;
    font-size: 25px;
    border: 1px solid grey;
    border-left: none;
    margin-left: 5px;
    background-color: rgba(250, 184, 85, 0.829);
  }
}

.pagination {
  text-align: center;

    &-main {
      display: inline-block;
      margin-bottom: 25px;

      a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        border: 1px solid #ddd;
        margin: 0 2px;
      }
    }
      .active {
      background-color: #cccccc;
      }
      
}
@import "custom/nav.less";




